/*通用*/
a{
    text-decoration: none;
}

a:link{
    color: #cccccc;
}

a:hover{
    color: #888888;
}

/*
    **********主体内容部分**********
*/

/* ********项目展示******** */
.project-showing {
    width: 100%;
}

/*模块标题*/
.project-showing th {
    text-align: center;
}

/*左右外边距*/
.project-showing .project_exhibition_margin {
    width: 15%;
}

/*“上一个”箭头*/
.project-showing .previous_arrow {
    width: 2%;
}

/*“下一个”箭头*/
.project-showing .next_arrow {
    width: 2%;
}

/*项目预览轮播图*/
.project-showing .project_preview {
    width: 66%;
}

/* ********关于我们******** */
.aboutus {
    width: 100%;
}

/*预览图*/
.aboutus .aboutus_image {

}

/*介绍tab切换栏*/
.aboutus .aboutus_right_tab {

}